body {
    background-color: #f5f5f5;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;    
}

div.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    
    padding-bottom: 20px;
}

form.questions {
    font-size: 18px;    
}

#button {
    background: #0066A2;
    color: white;
    border-style: none;

    height: 50px;
    width: 150px;

    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-shadow:none;
    border-radius: 15px;
}