* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Nunito', sans-serif;  
    
    background-color: #f5f5f5;
}
.container {
    margin: 0 auto;
    width: 84%;
}
.content {
    align-items: center;
    justify-content: center;
    display: flex;
}
.enem-image {
    align-items: center;
    display: flex;
    justify-content: center;
}
.title {
    justify-content: center;
    align-items: center;
    display: flex;
    
    padding-bottom: 20px;
}   
.questions {
    font-size: 18px;    
}
.button {
    background: #0066A2;
    color: white;
    border-style: none;

    height: 50px;
    width: 150px;

    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-shadow:none;
    border-radius: 15px;
}