* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nunito', sans-serif;  
    
    background-color: var(--body-color);
}
:root{
    --body-color: #f5f5f5;
    --button-color: #0066A2;
}
.container {
    margin: 0 auto;
    width: 84%;
}
.content, .enem-image {
    align-items: center;
    justify-content: center;
    display: flex;
}
.title {
    justify-content: center;
    align-items: center;
    display: flex;
    
    padding-bottom: 20px;
}   
.questions {
    font-size: 18px;    
}
.button {
    background: var(--button-color);
    color: white;
    border-style: none;

    height: 50px;
    width: 150px;

    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-shadow:none;
    border-radius: 15px;
}
.main-footer{
    align-items: center;
    justify-content: center;
    display: flex;

    margin: 1rem;
}